html {
  font-size: 10px;
  background: url(https://cdn.pixabay.com/photo/2017/03/27/12/35/drums-2178425_960_720.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(83, 62, 56, 0.46);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #2a3199;
  box-shadow: 0 0 1rem #2a3199;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #cacaca;
}
@media screen and (max-width: 1250px) {
  .key {
    width: 8rem;
  }
  max-height: 10vh;
}
